services:
  caddy-router:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: caddy-router
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"